<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SSO Proxy for {{targetName}}</title>
    </head>
    <body>
      <h1>
          SSO Proxy for {{targetName}}
      </h1>
      <p>
          Click <a href="/sso-proxy/login">here</a> to login.
      </p>

      <p>
      Use this link <a href="/sso-proxy/logout">/sso-proxy/logout</a> to logout.
      You should bookmark it or memorize it.
      </p>

    </body>
</html>
